.nowrap {
	white-space:nowrap;
}

.myzoomcontrol-text {
	font:bold 14px 'Lucida Console', Monaco, monospace;
	text-align:center;
	vertical-align:middle;
}

#map_coors {
	font:12px monospace, sans-serif;
	text-align:right;
	z-index:3;
}
#map_coors span {
	background:rgba(255, 255, 255, 0.33);
}

.leaflet-top.leaflet-right {
	max-width:90%;
	bottom:54px;
}

.leaflet-control-layers-expanded {
	max-height:100%;
	overflow-y:scroll;
}
.leaflet-control-layers-list,
.leaflet-control-layers-base {
	max-height:100%;
}
