/*-
 * Copyright © 2014, 2020
 *	mirabilos <m@mirbsd.org>
 *
 * Provided that these terms and disclaimer and all copyright notices
 * are retained or reproduced in an accompanying document, permission
 * is granted to deal in this work without restriction, including un‐
 * limited rights to use, publicly perform, distribute, sell, modify,
 * merge, give away, or sublicence.
 *
 * This work is provided “AS IS” and WITHOUT WARRANTY of any kind, to
 * the utmost extent permitted by applicable law, neither express nor
 * implied; without malicious intent or gross negligence. In no event
 * may a licensor, author or contributor be held liable for indirect,
 * direct, other damage, loss, or other issues arising in any way out
 * of dealing in the work, even if advised of the possibility of such
 * damage or existence of a defect, except proven that it results out
 * of said person’s immediate fault when using the work as intended.
 */

.nowrap {
	white-space:nowrap;
}

.myzoomcontrol-text {
	font:bold 14px 'Lucida Console', Monaco, monospace;
	text-align:center;
	vertical-align:middle;
}

#map_coors {
	font:12px monospace, sans-serif;
	text-align:right;
	background:rgba(255, 255, 255, 0.666);
	/*       ↑   →   ↓   ←   */
	padding:2px 3px 2px 6px;
	margin-right:7px;
	margin-bottom:8px;
}

.leaflet-top.leaflet-right {
	max-width:85%;
	/* achieves a bottom offset of 10px matching top and right */
	bottom:30px;
	/* one more than .leaflet-bottom.leaflet-right in leaflet/leaflet.css */
	z-index:1001;
}

.leaflet-control-layers-expanded {
	max-height:100%;
	overflow-y:scroll;
	box-shadow:5px 5px 1px #808080;
}
.leaflet-control-layers-list,
.leaflet-control-layers-base {
	max-height:100%;
}

.leaflet-control-layers-expanded label {
	padding-left:2em;
	text-indent:-2em;
}
